*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    box-shadow: 2px 2px 2px 2px orangered;
}
nav{
    background-color: rgb(85, 149, 221);
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;

}
.reklamlar{
    width: 100%;
    border: 1px solid green;
    text-align: center;
    height: 100px;
    border-radius: 1rem;
}
nav .links{
 display: flex;
 justify-content: space-evenly;

}
.link{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.705);
    font-size: 1.5rem;
    padding: .5rem;
    transition: .3s all ease;
}
.link:hover{
    color:brown;
   
}
.container{
    justify-content: space-between;
    display: flex;
    height: 100vh;
}
.teref{
    border: 1px solid gray;
    margin-top: 2rem;
    width: 24%;
    height: 80vh;
    border-radius: 1rem;
}
.teref{
    box-shadow: 2px 5px 20px 4px rgb(18, 85, 129);
    width: 15% ;
    height: 80vh;
    margin-top: 2rem;
    text-align: center;
    border: 1px solid gray;
    border-radius: 1rem;
}
.akis{
    width:67% ;
    height: 90vh;
}
footer{
   display: flex;
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid red;
    text-align: center  ;
    border-radius: 1rem;
}